@model anyo_platform.Models.IntergalacticMissions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IntergalaticMissions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <h1>Donations</h1>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Message
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Donor
                </th>
                <th>
                    Package
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PackagesDonated)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PackageId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
