@using anyo_platform_core.Data.ViewModels;
@model DonationsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Donations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Message
            </th>
            <th>
                Quantity
            </th>
            <th>
                Donor
            </th>
            <th>
                Package
            </th>
            <th>
                Mission
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Donations) 
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Package.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mission.Name)
                    </td>
                </tr>
        }
    </tbody>
</table>
