@model anyo_platform.Models.ViewModels.DonationsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Donor
        </th>
        <th>
            Message
        </th>
        <th>
            Quantity
        </th>
        <th>
            Package
        </th>
        <th>
            Mission
        </th>
    </tr>

    @foreach (var item in Model.Donations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mission.Name)
            </td>
        </tr>
    }

</table>
